
    <div id="online">
        <h2 id="title">Online</h2>
            <ul>
             <li>Bornes 1</li>
             <li>Bornes 2</li>
             <li>Bornes 3</li>
             <li>Bornes 4</li>
            </ul>
    </div> 
    <div id="bloque">
        <h2 id="title">Bloquées</h2>
            <ul>
             <li>Bornes 5</li>
             <li>Bornes 6</li>
             <li>Bornes 7</li>
             <li>Bornes 8</li>
            </ul>
    </div> 
    <div id="offline">
        <h2 id="title">Offline</h2>
            <ul>
             <li>Bornes 9</li>
             <li>Bornes 10</li>
             <li>Bornes 11</li>
             <li>Bornes 12</li>
            </ul>
    </div>
    
    <p *ngFor="let m of terminals">{{m}}</p>